In [1]:
%reload_ext sql

In [2]:
import configparser
config = configparser.ConfigParser()
config.read('dwh.cfg')

['dwh.cfg']

In [3]:
DWH_DB_NAME = config.get("CLUSTER","DB_NAME")
DWH_DB_USER = config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD = config.get("CLUSTER","DB_PASSWORD")
DWH_PORT = config.get("CLUSTER","DB_PORT")
DWH_HOST = config.get("CLUSTER","HOST")

In [4]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_HOST, DWH_PORT, DWH_DB_NAME)
print(conn_string)
%sql $conn_string

postgresql://awsuser:awscFa2807@redshift-cluster-1.cmakhyxhvovl.us-west-2.redshift.amazonaws.com:5439/dev

'Connected: awsuser@dev'

In [5]:
%sql SELECT * from staging_events LIMIT 5;

 * postgresql://awsuser:***@redshift-cluster-1.cmakhyxhvovl.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(None, 'Logged In', 'Kaylee', 'F', 0, 'Summers', None, 'free', 'Phoenix-Mesa-Scottsdale, AZ', 'GET', 'Home', 1540344794796.0, 139, None, 200, 1541106106796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 8),
 (None, 'Logged In', 'Kaylee', 'F', 2, 'Summers', None, 'free', 'Phoenix-Mesa-Scottsdale, AZ', 'GET', 'Upgrade', 1540344794796.0, 139, None, 200, 1541106132796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 8),
 ('Tamba Trio', 'Logged In', 'Kaylee', 'F', 4, 'Summers', Decimal('177.188120'), 'free', 'Phoenix-Mesa-Scottsdale, AZ', 'PUT', 'NextSong', 1540344794796.0, 139, 'Quem Quiser Encontrar O Amor', 200, 1541106496796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 8),
 ('Infected Mushroom', 'Logged In', 'Kaylee', 'F', 6, 'Summers', Decimal('440.267299'), 'free', 'Phoenix-Mesa-Scottsdale, AZ', 'PUT', 'NextSong', 1540344794796.0, 139, 'Becoming Insane', 200, 1541107053796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 8),
 ('Girl Talk', 'Logged In', 'Kaylee', 'F', 8, 'Summers', Decimal('160.156280'), 'free', 'Phoenix-Mesa-Scottsdale, AZ', 'PUT', 'NextSong', 1540344794796.0, 139, 'Once again', 200, 1541107734796, '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 8)]

In [6]:
%sql SELECT count(*) from staging_events;

 * postgresql://awsuser:***@redshift-cluster-1.cmakhyxhvovl.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(8056,)]

In [7]:
%sql SELECT * from staging_songs LIMIT 5;

 * postgresql://awsuser:***@redshift-cluster-1.cmakhyxhvovl.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(1, 'AR73AIO1187B9AD57B', Decimal('37.779159'), Decimal('-122.420050'), 'San Francisco, CA', 'Western Addiction', 'SOQPWCR12A6D4FB2A3', 'A Poor Recipe For Civic Cohesion', Decimal('118.073020'), 2005),
 (1, 'ARC1IHZ1187FB4E920', None, None, '', 'Jamie Cullum', 'SOXZYWX12A6310ED0C', "It's About Time", Decimal('246.987300'), 0),
 (1, 'ARGE7G11187FB37E05', None, None, 'Brooklyn, NY', 'Cyndi Lauper', 'SONRWUU12AF72A4283', 'Into The Nightlife', Decimal('240.639550'), 2008),
 (1, 'ARBZIN01187FB362CC', Decimal('1.320260'), Decimal('103.788709'), '27', 'Paris Hilton', 'SOERIDA12A6D4F8506', 'I Want You (Album Version)', Decimal('192.286890'), 2006),
 (1, 'ARTC1LV1187B9A4858', Decimal('51.453600'), Decimal('-0.018020'), "Goldsmith's College, Lewisham, Lo", 'The Bonzo Dog Band', 'SOAFBCP12A8C13CC7D', 'King Of Scurf (2007 Digital Remaster)', Decimal('301.400359'), 1972)]

In [8]:
%sql SELECT count(*) from staging_songs;

 * postgresql://awsuser:***@redshift-cluster-1.cmakhyxhvovl.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(14896,)]

In [9]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://awsuser:***@redshift-cluster-1.cmakhyxhvovl.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(datetime.datetime(2018, 11, 26, 18, 25, 34), 92, 'free', 'SONQBUB12A6D4F8ED0', 'ARFCUN31187B9AD578', 938, 'Palestine, TX', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 1),
 (datetime.datetime(2018, 11, 16, 14, 21, 12), 85, 'paid', 'SOLRYQR12A670215BF', 'ARNLO5S1187B9B80CC', 436, 'Red Bluff, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 3),
 (datetime.datetime(2018, 11, 11, 15, 0, 37), 67, 'free', 'SOCHRXB12A8AE48069', 'ARTDQRC1187FB4EFD4', 414, 'Nashville-Davidson--Murfreesboro--Franklin, TN', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 5),
 (datetime.datetime(2018, 11, 20, 17, 46, 38), 49, 'paid', 'SOCHRXB12A8AE48069', 'ARTDQRC1187FB4EFD4', 758, 'San Francisco-Oakland-Hayward, CA', 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0', 7),
 (datetime.datetime(2018, 11, 29, 21, 0, 3), 80, 'paid', 'SOXQYSC12A6310E908', 'AR0L04E1187B9AE90C', 1065, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 9)]

In [10]:
%sql SELECT count(*) from songplays;

 * postgresql://awsuser:***@redshift-cluster-1.cmakhyxhvovl.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(319,)]

In [11]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://awsuser:***@redshift-cluster-1.cmakhyxhvovl.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(10, 'Sylvie', 'Cruz', 'F', 'free'),
 (26, 'Ryan', 'Smith', 'M', 'free'),
 (101, 'Jayden', 'Fox', 'M', 'free'),
 (53, 'Celeste', 'Williams', 'F', 'free'),
 (69, 'Anabelle', 'Simpson', 'F', 'free')]

In [12]:
%sql SELECT count(*) from users;

 * postgresql://awsuser:***@redshift-cluster-1.cmakhyxhvovl.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(104,)]

In [13]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://awsuser:***@redshift-cluster-1.cmakhyxhvovl.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('SOFSOCN12A8C143F5D', 'Face the Ashes', 'ARXR32B1187FB57099', 2007, Decimal('209.606079')),
 ('SOSMJFC12A8C13DE0C', 'Is That All There Is?', 'AR1KTV21187B9ACD72', 0, Decimal('343.875459')),
 ('SOHZIGH12A6D4F8D14', 'A Grande Cacada', 'AR35RMH1187FB4A865', 0, Decimal('111.281180')),
 ('SOFHCKF12A8C13C0BC', 'China Boy', 'AR9FZZ71187FB4CE11', 2007, Decimal('171.153830')),
 ('SOZCTXZ12AB0182364', 'Setanta matins', 'AR5KOSW1187FB35FF4', 0, Decimal('269.583219'))]

In [14]:
%sql SELECT count(*) from songs;

 * postgresql://awsuser:***@redshift-cluster-1.cmakhyxhvovl.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(14896,)]

In [15]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://awsuser:***@redshift-cluster-1.cmakhyxhvovl.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('AR73AIO1187B9AD57B', 'Western Addiction', 'San Francisco, CA', Decimal('37.779159'), Decimal('-122.420050')),
 ('ARBZIN01187FB362CC', 'Paris Hilton', '27', Decimal('1.320260'), Decimal('103.788709')),
 ('ARIG6O41187B988BDD', 'Richard Souther', 'United States', Decimal('37.167929'), Decimal('-95.845020')),
 ('ARO81SS1187B996629', 'Nando Reis', '', None, None),
 ('ARPIKA31187FB4C233', 'The Action', 'New York', Decimal('40.714550'), Decimal('-74.007120'))]

In [16]:
%sql SELECT count(*) from artists;

 * postgresql://awsuser:***@redshift-cluster-1.cmakhyxhvovl.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(10025,)]

In [17]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://awsuser:***@redshift-cluster-1.cmakhyxhvovl.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[(datetime.datetime(2018, 11, 1, 21, 2, 12), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 8, 16), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 1, 21, 50, 15), 21, 1, 44, 11, 2018, 4),
 (datetime.datetime(2018, 11, 3, 1, 4, 33), 1, 3, 44, 11, 2018, 6),
 (datetime.datetime(2018, 11, 3, 1, 12, 26), 1, 3, 44, 11, 2018, 6)]

In [18]:
%sql SELECT count(*) from time;

 * postgresql://awsuser:***@redshift-cluster-1.cmakhyxhvovl.us-west-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(8023,)]

# SQL examples for song analysis:

### Top 5 list of total number of song titles per artist

In [19]:
%%sql
SELECT distinct artists.name, COUNT(songs.title) FROM artists 
JOIN songs on songs.artist_id = artists.artist_id 
GROUP BY artists.name ORDER BY COUNT(songs.title) DESC LIMIT 5;

 * postgresql://awsuser:***@redshift-cluster-1.cmakhyxhvovl.us-west-2.redshift.amazonaws.com:5439/dev
5 rows affected.

[('Aphex Twin', 9),
 ('Badly Drawn Boy', 9),
 ('Alison Krauss / Union Station', 9),
 ('Nick Cave & The Bad Seeds', 8),
 ('Tracy Chapman', 8)]

### List of distinct titles for artist name "Nick Cave & The Bad Seeds"

In [20]:
%%sql
SELECT distinct songs.title FROM songs 
JOIN artists on songs.artist_id = artists.artist_id 
WHERE artists.name = 'Nick Cave & The Bad Seeds';

 * postgresql://awsuser:***@redshift-cluster-1.cmakhyxhvovl.us-west-2.redshift.amazonaws.com:5439/dev
8 rows affected.

[('Stagger Lee',),
 ('Where Do We Go Now But Nowhere',),
 ('Loverman',),
 ('Rock Of Gibraltar',),
 ('She Passed By My Window',),
 ('Still In Love',),
 ('The Hammer Song (2010 Digital Remaster)',),
 ('Sleeping Annaleah (2009 Digital Remaster)',)]