In [1]:
import configparser
import os
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql.types import TimestampType
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear
import pyspark.sql.functions as F
from pyspark.sql import types as T
from pyspark.sql import Window
from datetime import datetime

In [2]:
config = configparser.ConfigParser()
config.read('dl.cfg')

['dl.cfg']

In [3]:
os.environ['AWS_ACCESS_KEY_ID']=config['KEYS']['AWS_ACCESS_KEY_ID']
os.environ['AWS_SECRET_ACCESS_KEY']=config['KEYS']['AWS_SECRET_ACCESS_KEY']

In [4]:
spark = SparkSession \
        .builder \
        .appName("Data Lake with Spark Project") \
        .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
        .config("spark.hadoop.fs.s3a.endpoint", "s3-us-west-2.amazonaws.com") \
        .getOrCreate()

In [5]:
spark

In [6]:
song_data = 's3a://udacity-dend/song_data/A/A/*/*.json'

In [7]:
song_df = spark.read.json(song_data)

In [8]:
song_df.take(1)

[Row(artist_id='ARSUVLW12454A4C8B8', artist_latitude=35.83073, artist_location='Tennessee', artist_longitude=-85.97874, artist_name='Royal Philharmonic Orchestra/Sir Thomas Beecham', duration=94.56281, num_songs=1, song_id='SOBTCUI12A8AE48B70', title='Faust: Ballet Music (1959 Digital Remaster): VI.     Variations du miroir (Allegretto)', year=0)]

In [9]:
song_df.printSchema()

root
 |-- artist_id: string (nullable = true)
 |-- artist_latitude: double (nullable = true)
 |-- artist_location: string (nullable = true)
 |-- artist_longitude: double (nullable = true)
 |-- artist_name: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- num_songs: long (nullable = true)
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- year: long (nullable = true)

In [10]:
songs_table = song_df.select("song_id", "title", "artist_id", "year", "duration").distinct()

In [11]:
songs_table.show(5)

+------------------+--------------------+------------------+----+---------+
|           song_id|               title|         artist_id|year| duration|
+------------------+--------------------+------------------+----+---------+
|SOHQZIB12A6D4F9FAF|N****_ What's Up ...|ARWAFY51187FB5C4EF|2006|196.85832|
|SOCOHAX12A8C13B6B2|Walking With The ...|ARE5F2F1187B9AB7E9|1966|152.16281|
|SOKNGDE12AB017CA4D| Step Into Your Skin|ARE4SDM1187FB4D7E4|   0|139.72853|
|SOQBZDP12AB0180E28|   Depths Of Bavaria|ARWRO6T1187B98C5D6|2008| 257.4624|
|SODZYPO12A8C13A91E|Burn My Body (Alb...|AR1C2IX1187B99BF74|   0|177.99791|
+------------------+--------------------+------------------+----+---------+
only showing top 5 rows

In [12]:
songs_table.write.partitionBy("year","artist_id").mode("overwrite").parquet("s3a://foustawsbucket/output/songs_table.parquet")

In [13]:
artists_table = song_df.select("artist_id", "artist_name", "artist_location", "artist_latitude", "artist_longitude").distinct()

In [14]:
artists_table.show(5)

+------------------+-----------------+--------------------+---------------+----------------+
|         artist_id|      artist_name|     artist_location|artist_latitude|artist_longitude|
+------------------+-----------------+--------------------+---------------+----------------+
|AR1S3NH1187B98C2BC|        Anthony B|Clarks Town, Jamaica|           null|            null|
|ARPIKA31187FB4C233|       The Action|            New York|       40.71455|       -74.00712|
|ARYL56G11C8A41634E|    Mick Flannery|                    |           null|            null|
|AR1XL241187FB3F4AB|Nortec Collective|                    |           null|            null|
|ARMI4NV1187B99D55D|          Man Man|    Philadelphia, PA|       39.95227|       -75.16237|
+------------------+-----------------+--------------------+---------------+----------------+
only showing top 5 rows

In [15]:
artists_table.write.mode("overwrite").parquet("s3a://foustawsbucket/output/artists_table.parquet")

In [16]:
log_data = 's3a://udacity-dend/log_data/2018/11/*.json'

In [17]:
log_df = spark.read.json(log_data)

In [18]:
log_df.take(1)

[Row(artist='Harmonia', auth='Logged In', firstName='Ryan', gender='M', itemInSession=0, lastName='Smith', length=655.77751, level='free', location='San Jose-Sunnyvale-Santa Clara, CA', method='PUT', page='NextSong', registration=1541016707796.0, sessionId=583, song='Sehr kosmisch', status=200, ts=1542241826796, userAgent='"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', userId='26')]

In [19]:
log_df.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

In [20]:
log_df = log_df.filter(log_df.page == 'NextSong')

In [21]:
users_table = log_df.select("userId", "firstName", "lastName", "gender", "level").distinct()

In [22]:
users_table.show(5)

+------+---------+--------+------+-----+
|userId|firstName|lastName|gender|level|
+------+---------+--------+------+-----+
|    57|Katherine|     Gay|     F| free|
|    84|  Shakira|    Hunt|     F| free|
|    22|     Sean|  Wilson|     F| free|
|    52| Theodore|   Smith|     M| free|
|    80|    Tegan|  Levine|     F| paid|
+------+---------+--------+------+-----+
only showing top 5 rows

In [23]:
users_table.write.mode("overwrite").parquet("s3a://foustawsbucket/output/users_table.parquet")

In [24]:
log_df = log_df.withColumn("ts", (F.round(col('ts')/1000)).cast(TimestampType()))

In [25]:
time_table = log_df.selectExpr("ts AS start_time") \
            .withColumn("hour", F.hour("start_time")) \
            .withColumn("day", F.dayofmonth("start_time")) \
            .withColumn("week", F.weekofyear("start_time")) \
            .withColumn("month", F.month("start_time")) \
            .withColumn("year", F.year("start_time")) \
            .withColumn("weekday", F.dayofweek("start_time")).distinct()

In [26]:
time_table.show(5)

+-------------------+----+---+----+-----+----+-------+
|         start_time|hour|day|week|month|year|weekday|
+-------------------+----+---+----+-----+----+-------+
|2018-11-15 17:19:14|  17| 15|  46|   11|2018|      5|
|2018-11-15 18:31:39|  18| 15|  46|   11|2018|      5|
|2018-11-21 17:17:48|  17| 21|  47|   11|2018|      4|
|2018-11-14 00:53:44|   0| 14|  46|   11|2018|      4|
|2018-11-14 12:00:45|  12| 14|  46|   11|2018|      4|
+-------------------+----+---+----+-----+----+-------+
only showing top 5 rows

In [27]:
time_table.write.partitionBy("year","month").mode("overwrite").parquet("s3a://foustawsbucket/output/time_table.parquet")

In [28]:
songplays_table = log_df.join(song_df, (log_df.artist == song_df.artist_name)\
                                        & (log_df.song == song_df.title)\
                                        & (log_df.length == song_df.duration))\
                              .join(time_table,(log_df.ts == time_table.start_time))\
                              .select(time_table.start_time,"userId", "level", "song_id", \
                                      "artist_id", "sessionId", "location", "userAgent",time_table.year,"month")   
    
songplays_table = songplays_table.withColumn("col_id", F.monotonically_increasing_id())
window = Window.orderBy(F.col('col_id'))
songplays_table = songplays_table.withColumn("songplay_id",F.row_number().over(window))\
                  .select("songplay_id","start_time","userId","level","song_id","artist_id","sessionId","location", "userAgent","year","month")

In [29]:
songplays_table.show(5)

+-----------+-------------------+------+-----+------------------+------------------+---------+--------------------+--------------------+----+-----+
|songplay_id|         start_time|userId|level|           song_id|         artist_id|sessionId|            location|           userAgent|year|month|
+-----------+-------------------+------+-----+------------------+------------------+---------+--------------------+--------------------+----+-----+
|          1|2018-11-21 21:56:48|    15| paid|SOZCTXZ12AB0182364|AR5KOSW1187FB35FF4|      818|Chicago-Napervill...|"Mozilla/5.0 (X11...|2018|   11|
|          2|2018-11-05 17:49:43|    73| paid|SOHDWWH12A6D4F7F6A|ARC0IOF1187FB3F6E6|      255|Tampa-St. Petersb...|"Mozilla/5.0 (Mac...|2018|   11|
|          3|2018-11-13 22:39:40|    55| free|SOXQYSC12A6310E908|AR0L04E1187B9AE90C|      415|Minneapolis-St. P...|"Mozilla/5.0 (Mac...|2018|   11|
|          4|2018-11-16 14:21:13|    85| paid|SOLRYQR12A670215BF|ARNLO5S1187B9B80CC|      436|       Red Bluff, CA|"Mozilla/5.0 (Mac...|2018|   11|
|          5|2018-11-20 17:46:39|    49| paid|SOCHRXB12A8AE48069|ARTDQRC1187FB4EFD4|      758|San Francisco-Oak...|Mozilla/5.0 (Wind...|2018|   11|
+-----------+-------------------+------+-----+------------------+------------------+---------+--------------------+--------------------+----+-----+
only showing top 5 rows

In [30]:
songplays_table.write.partitionBy("year","month").mode("overwrite").parquet("s3a://foustawsbucket/output/songplays_table.parquet")

# SQL examples for song analysis:

In [31]:
artists_table.printSchema()

root
 |-- artist_id: string (nullable = true)
 |-- artist_name: string (nullable = true)
 |-- artist_location: string (nullable = true)
 |-- artist_latitude: double (nullable = true)
 |-- artist_longitude: double (nullable = true)

In [32]:
songs_table.printSchema()

root
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- artist_id: string (nullable = true)
 |-- year: long (nullable = true)
 |-- duration: double (nullable = true)

In [33]:
artists_table.createOrReplaceTempView("artists_view")

In [34]:
songs_table.createOrReplaceTempView("songs_view")

### List of artists and songs (up to 20 records)

In [36]:
spark.sql("SELECT * FROM artists_view JOIN songs_view on songs_view.artist_id = artists_view.artist_id").show()

+------------------+-----------------+--------------------+---------------+----------------+------------------+--------------------+------------------+----+---------+
|         artist_id|      artist_name|     artist_location|artist_latitude|artist_longitude|           song_id|               title|         artist_id|year| duration|
+------------------+-----------------+--------------------+---------------+----------------+------------------+--------------------+------------------+----+---------+
|AR1S3NH1187B98C2BC|        Anthony B|Clarks Town, Jamaica|           null|            null|SONHGLD12AB0188D47|          Our Father|AR1S3NH1187B98C2BC|1999| 202.4224|
|ARPIKA31187FB4C233|       The Action|            New York|       40.71455|       -74.00712|SOPVNTL12AB01854F9|               Brain|ARPIKA31187FB4C233|   0|180.32281|
|ARYL56G11C8A41634E|    Mick Flannery|                    |           null|            null|SOVSKKG12A81C21A77|       Grace's Waltz|ARYL56G11C8A41634E|   0|153.93914|
|AR1XL241187FB3F4AB|Nortec Collective|                    |           null|            null|SOKARQT12A58A78B7B|           Panoptica|AR1XL241187FB3F4AB|   0|355.99628|
|ARMI4NV1187B99D55D|          Man Man|    Philadelphia, PA|       39.95227|       -75.16237|SOFAMRP12AF72A069E|The Ballad Of But...|ARMI4NV1187B99D55D|2008|268.87791|
|ARMMJ2R1187B993A72|         S.O.A.P.|             Denmark|       56.27609|         9.51695|SOWXZTV12AB0185F0A| Welcome To My Party|ARMMJ2R1187B993A72|   0|218.48771|
|ARGS47D1187FB40225| Peter And Gordon|     London, England|           null|            null|SODIWID12A6D4F803A|Lucille (1999 Dig...|ARGS47D1187FB40225|   0|127.97342|
|ARKKQBD1187FB3715B|          Juniper|   San Francisco, CA|       37.77916|      -122.42005|SOLVMYS12AB017C758|      Gain the World|ARKKQBD1187FB3715B|   0|225.12281|
|ARC1IHZ1187FB4E920|     Jamie Cullum|                    |           null|            null|SOUOYBD12A67AE0EC5|              Oh God|ARC1IHZ1187FB4E920|   0|218.30485|
|ARC1IHZ1187FB4E920|     Jamie Cullum|                    |           null|            null|SOXZYWX12A6310ED0C|     It's About Time|ARC1IHZ1187FB4E920|   0| 246.9873|
|ARIQ98H1187B98DFBC|       Matt Costa|Huntington Beach, CA|           null|            null|SOJYPBE12A58A7A994|              Astair|ARIQ98H1187B98DFBC|2003|178.83383|
|ARIFGKC1187B9B04D5|      Dean Martin|    Steubenville, OH|           null|            null|SOYCTBG12A8C144341|Until You Love So...|ARIFGKC1187B9B04D5|2005|165.66812|
|ARBDGN21187FB4C201|       Weatherbox|       San Diego, CA|           null|            null|SOFGXZV12AB0185E12|Two Satchels Of L...|ARBDGN21187FB4C201|2009|187.29751|
|ARVSSMY1187FB54535|Ferraby Lionheart|                    |           null|            null|SOIXSBI12A8C13EBC1|The Ballad Of Gus...|ARVSSMY1187FB54535|2006|209.99791|
|AREUSCM1187B9B56A0|           Silver|     Los Angeles, CA|       34.05349|      -118.24532|SODIHOR12AB01845BA|           Hold Fast|AREUSCM1187B9B56A0|   0|181.44608|
|ARE1E131187B9B6F22| June Carter Cash|         HILTONS, US|           null|            null|SOBQFAX12A6D4FC885|Hold Fast To The ...|ARE1E131187B9B6F22|2004|  178.442|
|ARFA2P91187B9B35F0|          Westbam|              Berlin|       52.51607|        13.37698|SONEDGA12A8C13F068|   Die Dunkelsequenz|ARFA2P91187B9B35F0|1997|430.62812|
|AR7C9271187FB39BF8|     Chely Wright|      Wellsville, KS|           null|            null|SOWBQRV12A6D4FCC8F|I Got Him Ready F...|AR7C9271187FB39BF8|2005|199.52281|
|AREW1KO1187B98E42E| The Irish Tenors|                    |           null|            null|SOBMHTY12AC9097B7C| Mountains Of Mourne|AREW1KO1187B98E42E|   0|100.85832|
|ARB57BN1187B9B5EAF|    36 Crazyfists|       Anchorage, AK|       61.21756|      -149.85776|SOEZUUJ12A8AE471BC|Turns to Ashes (A...|ARB57BN1187B9B5EAF|2002|198.05995|
+------------------+-----------------+--------------------+---------------+----------------+------------------+--------------------+------------------+----+---------+
only showing top 20 rows

### List of distinct titles for artist name "Jamie Cullum"

In [37]:
spark.sql("SELECT distinct songs_view.title FROM songs_view JOIN artists_view on songs_view.artist_id = artists_view.artist_id " \
          "WHERE artists_view.artist_name = 'Jamie Cullum'").show()

+---------------+
|          title|
+---------------+
|         Oh God|
|It's About Time|
+---------------+